<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add  key="appKey" value="211160679"/>
		<add  key="appSecret" value="63b64d531b98c2dbff2443816f274dd3"/>
		<add  key="userName" value="18857769025"/>
		<add  key="userPassword" value="lmy168588"/>

		<add key="mongodbUrl" value="mongodb://***"/>
		<add key="mongodbName" value="sinadata"/>

    <add key="mysqlUrl" value="data source=***;user id=root;pwd=root;initial catalog=weibo;allow zero datetime=true;Charset=utf8"/>
    
		<!--所有服务器启动的线程数-->
		<add key="threadNum" value="10"/>
		<!--本服务器的启用的线程编号-->
		<add key="threadNo" value="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19"/>
	</appSettings>
</configuration>